%form
  %fieldset
    %label
      %strong Name
    %input{ ng: { model: "formData.editExerciseName"}, type: "text"}
    %label
      %strong Exercise Type
    %input{ ng: { model: "formData.editExerciseExerciseType"}, type: "text"}
    %label
      %strong Difficulty
    %input{ ng: { model: "formData.editExerciseDifficulty"}, type: "text"}
    %br
    %button.btn.btn-primary{ ng: { click: "editExercise()"} } Edit
    %button.btn.btn-danger.pull-right{ ng: { click: "clearExercise()"} } Clear Exercise
    %a{ ng: { click: "returnBack()"} } Return